<header class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <img src="./../../../assets/img/compra-en-linea.png" class="w-12 h-12 text-white p-2" alt="LOGO ">
      <span class="ml-3 text-xl">Market GAMG-94</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-lg justify-center">
      <a class="lin mr-5 font-bold cursor-pointer hover:text-white">Inicio</a>
      <a class="lin mr-5 font-bold cursor-pointer hover:text-white">Productos</a>
      <a class="lin mr-5 font-bold cursor-pointer hover:text-white">Contactanos</a>
      <a class="lin mr-5 font-bold cursor-pointer hover:text-white">Quienes somos</a>
    </nav>
    <button routerLink="/signin" ng-reflect-router-link="signin" href="/signin" class="btn inline-flex font-bold items-center mx-4 bg-primary border-0 py-1 px-3 focus:outline-none hover:bg-secondary text-white rounded text-lg mt-4 md:mt-0">
      Login
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
    <button routerLink="/signup" ng-reflect-router-link="signup" href="/signup" class="btn inline-flex font-bold items-center bg-primary border-0 py-1 px-3 focus:outline-none hover:bg-secondary text-white rounded text-lg mt-4 md:mt-0">
      Registro
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>
